<h2>Overview</h2>
<a name="Overview"></a>

<p>
  This document provides a quality assessment of Genome Analyzer
  results. The assessment is meant to complement, rather than replace,
  quality assessment available from the Genome Analyzer and its
  documentation. The narrative interpretation is based on experience
  of the package maintainer. It is applicable to results from the
  'Genome Analyzer' hardware single-end module, configured to scan 300
  tiles per lane. The 'control' results refered to below are from
  analysis of PhiX-174 sequence provided by Illumina.
</p>
