<h2>Adapter Contamination</h2>
<a name="Adapter-Contamination"></a>

<p>
 Adapter contamination is defined here as 
 non-genetic sequences attached at either or both ends 
 of the reads. The 'contamination' measure is
 the number of reads with a right or left match to the adapter
 sequence over the total number of reads. Mismatch rates
 are 10&#37; on the left and 20&#37; on the right with a
 minimum overlap of 10 nt. 
</p>
<pre>
  ShortRead:::.ppnCount(qa[["adapterContamination"]])
</pre>
@ADAPTER_CONTAMINATION@

